/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
  box-sizing: border-box;
}

body{
margin: 0;
display: flex;
align-self: center;
justify-content: center;
background-color: rgb(151, 146, 146);
font-family: 'Montserrat', sans-serif;
}

.container{
  margin: 100px auto;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px;
}
.from{
  padding: 10px;
}
h1{
  margin: 0 auto;
  padding-top:15px;
  text-align: center;
  color: #000000;
  
}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
}

#calculate{
  background-color: rgb(70, 130, 241);
  color: white;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}
.btn:hover{
  background-color: rgb(121, 199, 121);
}

#total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}